/* You can add global styles to this file, and also import other style files */
:root {
  --orange: #F18626;
  --pink: #E20262;
  --lightpink: #f0eaec;
  --red: #D3190F;
  --yellow: #F5AD00;
  --midpoint1: #f3546e;
  --midpoint2: #EC5A3A;

  --smallest: 12px;
  --smaller: 14px;
  --small: 16px;
  --medium: 18px;
  --large: 43px;
  --larger: 62px;

  --main-font: Playfair Display;
  --regular-font: Open Sans;

  --black: 900;
  --bold: 600;
  --regular: 400;

  --form-label-width: 100px;
}

* {
  font-size: var(--small);
  font-family: var(--regular-font);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

.avoidwrap {
  font: inherit;
  display: inline-block;
}

h1 {
  font-family: var(--main-font);
  font-size: var(--large);
  font-weight: var(--black);
}

h2 {
  font-family: var(--main-font);
  font-size: var(--medium);
  font-weight: var(--black);
}

.smaller,
.smaller>*,
.smaller>*>* {
  font-size: var(--smaller);
}

.smallest,
.smallest>*,
.smallest>*>* {
  font-size: var(--smallest);
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.main-card-inner::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  z-index: -2;
  background: var(--pink);
  background: -webkit-linear-gradient(90deg, var(--pink), var(--orange));
  background: linear-gradient(to right, var(--pink), var(--midpoint1) 10%, var(--midpoint2) 50%, var(--orange) 100%);
}

.card {
  background-color: white;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 350px;
  box-shadow: 0 0 10px rgb(120, 120, 120);
}

.main-card {
  z-index: 1;
  padding: 10px 5px 10px 10px;
}

.main-card>h1,
h2 {
  margin-bottom: 10px;
}

.form-card {
  z-index: 0;
  padding: 10px 20px 20px;
}

.btn {
  background-color: var(--pink);
  border: none;
  border-radius: 5px;
  margin: 5px 0 0 0;
  padding: 5px;
  min-width: 100px;
  font-weight: var(--bold);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .main-card {
    width: 340px;
    margin: 30px 0 30px 30px;
    height: calc(100% - 60px);
  }

  .form-card {
    position: absolute;
    left: 30px;
    padding: 30px 30px 30px 340px;
    width: calc(100% - 90px);
    height: calc(100% - 60px);
    margin: 30px 30px 30px 30px;
  }

  .main-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 0px 15px 10px 10px;
    height: 100%;
  }

}

@media screen and (max-width: 800px) {

  .main-card,
  .form-card,
  .card {
    width: calc(100% - 40px);
    margin: 20px auto 10px;
    padding: 20px;
  }

  .form-card {
    margin-bottom: 30px;
  }

  app-project-items-container,
  app-expense-items-container,
  app-expense-form,
  app-project-form {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  app-expense-form,
  app-project-form {
    position: relative;
  }

}


/* FORMS */

form {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.form-row {
  display: grid;
  gap: 15px;
  align-items: flex-end;
  margin-bottom: 10px;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  border: 1px solid, grey;
  padding: 5px;
  outline: none;
}

textarea {
  resize: vertical;
  max-height: 220px;
}

.form-card>h2 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.invalid-feedback {
  text-align: left;
  margin-left: calc(var(--form-label-width) + 15px);
}

.sup {
  position: relative;
  bottom: 1ex;
  font-size: 70%;
}

.form-card-container {
  width: 100%;
}

.grid-single {
  grid-template-columns: var(--form-label-width) minmax(var(--form-label-width), calc(100% - var(--form-label-width)));
}

@media screen and (min-width: 1150px) {
  .grid-double {
    grid-template-columns: var(--form-label-width) minmax(var(--form-label-width), calc(100% - var(--form-label-width))) var(--form-label-width) minmax(var(--form-label-width), calc(100% - var(--form-label-width)));
  }
}

@media screen and (max-width: 1150px) {
  .grid-double {
    grid-template-columns: repeat(auto-fill, var(--form-label-width) minmax(var(--form-label-width), calc(100% - var(--form-label-width))));
  }
}


/* ICONS */

.material-symbols-outlined {
  font-variation-settings:
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
}