@use "@angular/material" as mat;

@include mat.core();

$pink-palette: (
 50: #E20262,
 100: #E20262,
 200: #E20262,
 300: #E20262,
 400: #E20262,
 500: #E20262,
 600: #E20262,
 700: #E20262,
 800: #E20262,
 900: #E20262,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
 )
);

$my-app-primary: mat.define-palette($pink-palette);
$my-app-accent: mat.define-palette(mat.$gray-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);
