#project-dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gray {
  color: #8a8a8a;
}

@media screen and (min-width: 800px) {
  #project-dashboard {
    height: 100%;
  }
}

.edit-remove-links {
  margin-top: 20px;
  font-weight: var(--bold);
}

mat-progress-bar {
  transform: scaleY(2);
  transform-origin: bottom;
}

#bar {
  margin: 20px auto;
  font-size: var(--smaller);
  font-weight: var(--bold);
}

#main-budget {
  margin-bottom: 10px;
}

#categories {
  margin-left: 15px;
}

.text-container {
  margin-bottom: 30px;
  margin-top: 30px;
}

.budget-rating {
  float: right;
}