<!-- <div class="form-container">
  <form [formGroup]="projectForm" (ngSubmit)="handleSubmit()" novalidate #thisForm="ngForm">
    <input id="title" formControlName="title"/>
    
    <button type="submit">Save project</button>
    <div *ngIf="addForm.get('title')?.errors && thisForm.submitted">
      This field is required.
    </div>
  </form>
</div> -->

<div class="card form-card">
    <div class="form-row grid-double">
        <div></div>
        <h2 *ngIf="isAddMode">Add Project</h2>
        <h2 *ngIf="!isAddMode">Edit Project</h2>
    </div>
    <div class="form-container">
    
        <form [formGroup]="projectForm" (ngSubmit)="handleSubmit()" novalidate #thisForm="ngForm">
            <div *ngIf="submitted && this.projectForm.controls['name'].errors" class="invalid-feedback">
                <div *ngIf="this.projectForm.controls['name'].errors">Name is required.</div>
            </div>
            <div class="form-row grid-single">
                <label>NAME</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.projectForm.controls['name'].errors }"/>
            </div>

            <div *ngIf="submitted && this.projectForm.controls['budget'].errors" class="invalid-feedback">
                <div *ngIf="this.projectForm.controls['budget'].errors">Budget is required.</div>
            </div>
            <div class="form-row grid-double">
                <label>BUDGET</label>
                <input type="number" formControlName="budget" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.projectForm.controls['budget'].errors }"/>
                
                <label>CURRENCY</label>
                <select formControlName="currency" class="form-control">
                    <option value="EUR" >EUR</option>
                </select>
            </div>
        
            <div class="form-row grid-double">
                <label>TYPE</label>
                <select formControlName="type" class="form-control">
                    <option value="" disabled="[true]"></option>
                    <option value="trip" >trip</option>
                    <option value="event" >event</option>
                    <option value="construction" >construction</option>
                    <option value="other">other</option>
                </select>

        <!--     IF OTHER
                <label>CURRENCY</label>
                <select formControlName="currency" class="form-control">
                    <option value="EUR" >EUR</option>
                </select> -->
            </div>


            <div class="form-row grid-double">
                <div></div>
                <button [disabled]="loading" class="btn form-btn">
                    Save
                </button> 
            </div>
        </form> 
    </div>
</div>
