<div class="form-card-container">
  <div class="card form-card">
    <div class="form-row grid-single">
      <div></div>
      <h2 *ngIf="isAddMode">Add Project</h2>
      <h2 *ngIf="!isAddMode">Edit Project</h2>
    </div>

    <span class="material-symbols-outlined close pointer" (click)="close()">
      close
    </span>

    <div class="form-container">

      <form [formGroup]="projectForm" (ngSubmit)="handleSubmit()" novalidate #thisForm="ngForm">
        <div *ngIf="this.submitted && projectForm.get('name')?.errors" class="invalid-feedback">
          Name is required.
        </div>
        <div class="form-row grid-single">
          <label>NAME*</label>
          <input type="text" maxlength="255" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && this.projectForm.controls['name'].errors }" />
        </div>

        <div *ngIf="this.submitted && projectForm.get('budget')?.errors" class="invalid-feedback">
          Budget is required.
        </div>
        <div class="form-row grid-double">
          <label>BUDGET*</label>
          <input type="number" formControlName="budget" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && this.projectForm.controls['budget'].errors }" />

          <label>CURRENCY</label>
          <select formControlName="currency" class="form-control">
            <option value="EUR">EUR</option>
          </select>
        </div>

        <div *ngIf="this.submitted && projectForm.get('type')?.errors" class="invalid-feedback">
          Type is required.
        </div>
        <div class="form-row grid-double">
          <label>TYPE*</label>
          <select formControlName="type" class="form-control">
            <option value="" disabled="[true]"></option>
            <option value="trip">trip</option>
            <option value="event">event</option>
            <option value="construction">construction</option>
            <option value="other">other</option>
          </select>
        </div>

        <span *ngIf="projectForm.value['type'] === 'trip' || projectForm.value['type'] === 'event'">
          <div class="form-row grid-double">
            <label>GUESTS</label>
            <input type="number" formControlName="noOfGuests" min="0" class="form-control" />
          </div>
        </span>

        <span *ngIf="projectForm.value['type'] === 'construction' || projectForm.value['type'] === 'event'">
          <div class="form-row grid-double">
            <label>LOCATION</label>
            <input type="text" formControlName="location" class="form-control" />
          </div>
        </span>

        <span *ngIf="projectForm.value['type'] === 'trip'">
          <div class="form-row grid-single">
            <label>ORIGIN</label>
            <input type="text" formControlName="origin" class="form-control" />
          </div>

          <div class="form-row grid-single">
            <label>DESTINATION</label>
            <input type="text" formControlName="destination" class="form-control" />
          </div>
        </span>

        <span *ngIf="projectForm.value['type'] === 'event'">
          <div class="form-row grid-single">
            <label>OCCASION</label>
            <input type="text" formControlName="occasion" class="form-control" />
          </div>
        </span>

        <span *ngIf="projectForm.value['type'] === 'construction'">
          <div class="form-row grid-single">
            <label>AREA (m<span class="sup">2</span>)</label>
            <input type="number" formControlName="area" class="form-control" />
          </div>
        </span>


        <div *ngIf="this.submitted && !this.dateIsValid" class="invalid-feedback">
          Date to can't be before date from.
        </div>
        <div class="form-row grid-double">
          <label>DATE FROM</label>
          <input type="datetime-local" formControlName="dateFrom" class="form-control" />
          <label>DATE TO</label>
          <input type="datetime-local" formControlName="dateTo" min="projectForm.value['dateFrom']"
            (change)="onDateChange($event)" class="form-control" />
        </div>

        <div class="form-row grid-single">
          <label>DESCRIPTION</label>
          <textarea formControlName="description" class="form-control"></textarea>
        </div>

        <div class="invalid-feedback">* Required fields.</div>

        <div class="form-row grid-double">
          <div></div>
          <button type="submit" class="btn">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>