<div class="background"></div>

<div id="all-projects-dashboard">
  <div class="card main-card">
    <div class="main-card-inner">
      <div>
        <h1 id="title" class="pointer" [routerLink]="['/projects/']">
          <span class="avoidwrap">Budget</span>
          <span class="avoidwrap">Blocks</span>
        </h1>
        <span *ngIf="id === -1">
          <ng-container *ngIf="username$ | async as username">
            <h2>Hi, {{ username }}! Here are your projects.</h2>
          </ng-container>
        </span>
      </div>
      <app-nav-bar></app-nav-bar>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>