<div class="img-container">
  <img class="img" *ngIf="expense.photo" [src]="expense.photo" alt="expense photo" [draggable]="false">
</div>

<div class="expense-text">
  <div>
    <h2>{{expense.name}}</h2>
    <div class="smaller">
      <b>Category: </b> <span class="avoidwrap"> {{expense.category.category }}</span>
      <span *ngIf="expense.category.optional"> (opt.)</span>
      <br>
      <b>Cost: </b>{{expense.cost | currency: expense.currency }}<br>
      <span *ngIf="expense.calcCost" class="smaller">
        <b>Recalculated cost: </b>{{expense.calcCost | currency: projectCurrency }}<br>
      </span>
    </div>
  </div>
  <div class="icons">
    <span class="votes">{{upvotes}} </span>
    <span class="material-symbols-outlined" [ngClass]="upIsFilled ? 'filled' : 'not-filled'"
      (click)="toggleVotes('up')">
      arrow_circle_up
    </span>

    <span class="votes">{{downvotes}} </span>
    <span class="material-symbols-outlined" [ngClass]="downIsFilled ? 'filled' : 'not-filled'"
      (click)="toggleVotes('down')">
      arrow_circle_down
    </span>

    <span *ngIf="showDetails else hide">
      <span class="material-symbols-outlined expand-icon" (click)="toggleDetails()">
        expand_circle_up
      </span>
    </span>
    <ng-template #hide>
      <span class="material-symbols-outlined expand-icon" (click)="toggleDetails()">
        expand_circle_down
      </span>
    </ng-template>
  </div>

</div>