.expense-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: -1;
}

.compare-selected {
  outline: 3px solid var(--pink);
}

.compare-not-selected {
  opacity: 50%
}