<div class="img-container">
  <img class="img" *ngIf="expense.photo" [src]="expense.photo" alt="expense photo">
</div>

<div class="expense-text">
  <div class="smaller">
    <h2>{{expense.name}}</h2>
    <b>Category: </b> <span class="avoidwrap"> {{expense.category.category }}</span><br>
    <b>Cost: </b>{{expense.cost | currency: expense.currency }}<br>
    <span *ngIf="expense.calcCost" class="smaller">
      <b>Recalculated cost: </b>{{expense.calcCost | currency: projectCurrency }}<br>
    </span>
  </div>
  <div class="icons">
    <span class="material-symbols-outlined" [ngClass]="upIsFilled ? 'filled' : 'not-filled'"
      (click)="toggleVotes('up')">
      arrow_circle_up
    </span>

    <span class="material-symbols-outlined" [ngClass]="downIsFilled ? 'filled' : 'not-filled'"
      (click)="toggleVotes('down')">
      arrow_circle_down
    </span>

    <span *ngIf="showDetails else hide">
      <span class="material-symbols-outlined" (click)="toggleDetails()">
        expand_circle_up
      </span>
    </span>
    <ng-template #hide>
      <span class="material-symbols-outlined" (click)="toggleDetails()">
        expand_circle_down
      </span>
    </ng-template>
  </div>

</div>