<div id="landing-container">
  <div id="landing">
    <h1 id="title">BudgetBlocks</h1>
    <p id="landing-desc">BudgetBlocks is a tool that helps you keep your budget for a specific goal in check, for
      example: a trip, an event or a home renovation. It allows you to set up new projects with a set budget goal with
      other users, add different expenses or even different options for each expense and compare their effect on the
      overall cost.</p>
    <div id="auth-btn-container">
      <button class="btn auth-btn pointer" (click)="handleLogin()">Log In</button>
      <button class="btn auth-btn pointer" (click)="handleSignUp()">Sign Up</button>
    </div>
  </div>
  <div id="animation-container">
    <ng-lottie id="animation" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
</div>