#title {
 font-weight: var(--black);
 margin-bottom: 20px;
}

#landing-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

#landing {
  text-align: justify;
}

#auth-btn-container {
  display: flex;
  justify-content: space-between;
}

.auth-btn {
  background-color: var(--pink);
  border-radius: 5px;
  border: none;
  margin: 20px 0 0 0;
  padding: 10px;
  min-width: 100px;
  width: 48%;
  font-weight: var(--bold);
}


@media screen and (min-width: 1201px) {
  #landing {
    width: 400px;
    margin-left: 5%;
    margin-bottom: 15%;
  }
  
  #animation-container {
    width: calc(100% - 5% - 400px);
    height: 80%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column-reverse;
  }

  #title {
    font-size: var(--larger);
  }

  #landing-desc, .auth-btn {
    font-size: var(--medium);
  }
}

@media screen and (max-width: 1200px) {
  #landing {
    width: 85%;
    margin: 20px auto;
  }
  
  #animation-container {
    width: 70%;
    margin: 0 auto;
  }

  #title {
    font-size: 44px;
  }

  #landing-desc, .auth-btn {
    font-size: var(--small);
  }
}

