#poject-items-container {
  position: absolute;
  left: 30px;
  padding: 30px 30px 30px 370px;
  width: calc(100% - 90px);
  height: calc(100% - 60px);
}

#poject-items-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
