@media screen and (min-width: 800px) {
  #items-container {
    position: absolute;
    left: 0px;
    padding: 30px 30px 30px 400px;
    width: calc(100% - 90px);
    height: calc(100% - 60px);
  }

  #items-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {

  #items-container,
  #items-inner-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}