@media screen and (min-width: 800px) {
  .detail-card {
    width: 350px;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px;
  }
}

@media screen and (max-width: 800px) {
  .detail-card {
    margin: 0 auto;
  }
}

.comments-container {
  margin: 10px 0;
}

.comment {
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 20px;
}