<div class="form-card-container">
  <div class="card form-card">
    <div class="form-card-inner">
      <div class="form-row grid-single title-row">
        <div></div>
        <h2>Add Users</h2>
      </div>
      <div class="form-row grid-single start">
        <div></div>
        <p id="description">
          Here you can invite users to your project.
          If they have an account on BudgetBlocks, they will be able to see your invitation on their projects page.
          If they don't have an account yet, invite them after they sing up.
        </p>
      </div>

      <span class="material-symbols-outlined close pointer" (click)="close()">
        close
      </span>

      <div class="form-container">

        <form [formGroup]="addUserForm" (ngSubmit)="handleSubmit()" novalidate #thisForm="ngForm">

          <div *ngIf="owners" class="form-row grid-single start">
            <label>CURRENT USERS</label>
            <div>
              <div *ngFor="let user of owners">
                <p>
                  <span></span>
                  <span>
                    <b>{{user.nickname}}</b><br>
                    <i>E-mail address: {{user.email}}</i><br>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="form-row grid-single start">
            <label>INVITATIONS</label>
            <div *ngIf="invitedUsers.length > 0 else noInvitations">
              <div *ngFor="let user of invitedUsers">
                <p>
                  <span></span>
                  <span>
                    <b>{{user.nickname}}</b><br>
                    <i>E-mail address: {{user.email}}</i><br>
                  </span>
                </p>
              </div>
            </div>
            <ng-template #noInvitations>
              <p>
                <i>There are no pending invitations at the moment.</i>
              </p>
            </ng-template>
          </div>

          <div class="form-row grid-single ">
            <label>INVITE USERS (EMAIL)</label>
            <input type="text" formControlName="invite" class="form-control" />
          </div>

          <div *ngIf="this.submitted && addUserForm.get('invite')?.errors" class="invalid-feedback">
            Not a valid e-mail.
          </div>

          <div *ngIf="this.submitted && this.isInvited" class="invalid-feedback">
            User is already invited.
          </div>

          <div *ngIf="this.submitted && this.isOwner" class="invalid-feedback">
            User is already in the project.
          </div>

          <div *ngIf="this.submitted && this.isOwner" class="invalid-feedback">
            User is already in the project.
          </div>

          <div class="form-row grid-single">
            <div></div>
            <button type="submit" class="btn">
              Save
            </button>
          </div>

          <div *ngIf="this.success" class="invalid-feedback">
            If user has an account on BudgetBlocks, they will be invited to this project.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>