<div id="expense-items-background" class="card"></div>
<div id="expense-items-navbar">
  <div id="navbar-switch-container">
    <b id="switch-left">edit</b>
    <form [formGroup]="checkboxForm">
      <label class="switch">
        <input type="checkbox" formControlName="compareMode" class="form-control" />
        <span class="slider"></span>
      </label>
    </form>
    <b id="switch-right">compare</b>
  </div>

  <app-nav-bar></app-nav-bar>
</div>

<div id="expenses-items-container">
  <div *ngIf="expenses" id="expenses-items-inner-container">

    <div *ngFor="let category of categories">
      <div class="category-row" [draggable]="true" (dragstart)="onDragStart(category.orderId)"
        (dragenter)="onDragEnter(category.orderId)" (dragend)="onDragEnd()">
        <div *ngFor="let expense of expensesAtCatOrderId[category.orderId]" class="category-row-item">
          <div class="card whitespace" [hidden]="!expense.showDetails"></div>

          <app-expense-item [ngClass]="(compareMode && expense.selected) ? 'compare-selected' : 
      compareMode ? 'compare-not-selected' : null" class="card expense-item" [expense]="expense"
            (click)="handleSelect($event, expense)" [compareMode]="this.compareMode"
            (toggleDetailsEvent)="toggleDetails($event)" [projectCurrency]="this.project.currency">
          </app-expense-item>

          <app-expense-details [expense]="expense" [isHidden]="!expense.showDetails"
            [ngStyle]="{'display': expense.showDetails ? 'block' : 'none'}">
          </app-expense-details>
        </div>
      </div>

    </div>
  </div>

  <app-add-item [item]="'an expense'" [link]="'./add'" [project]="project">
  </app-add-item>
</div>