#expense-items-navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navbar-switch-container {
  display: flex;
  flex-direction: row;
}

.expense-item {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-bottom: 0;
  position: relative;
}


.whitespace {
  position: absolute;
  height: 200px;
  z-index: 0;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

app-expense-details {
  z-index: 1;
}

.compare-selected {
  outline: 3px solid var(--pink);
}

.compare-not-selected {
  opacity: 50%
}

.category-row>* {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

@media screen and (min-width: 800px) {
  #expense-items-background {
    opacity: 30%;
    position: absolute;
    left: 30px;
    width: calc(100% - 90px);
    height: calc(100% - 60px);
    margin: 30px 30px 30px 30px;
  }

  #expense-items-navbar {
    padding: 14px 30px 30px 340px;
    position: fixed;
    background-color: white;
    position: absolute;
    border-top-right-radius: 20px;
    left: 30px;
    width: calc(100% - 90px);
    height: 50px;
    margin: 30px 30px 30px 30px;
  }

  #expenses-items-container {
    position: absolute;
    left: 30px;
    overflow-y: scroll;
    top: 80px;
    bottom: 30px;
    width: calc(100% - 410px);
    height: calc(100% - 110px);
    margin: 0px 10px 0 350px;
    padding: 0 20px 0 20px;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  #expenses-items-inner-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .category-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .whitespace {
    width: 350px;
    margin: 0;
  }

}

@media screen and (max-width: 800px) {
  #expense-items-background {
    display: none;
  }

  #expense-items-navbar {
    width: calc(100% - 40px);
    margin: 20px auto 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px;
    min-height: 40px;
    box-shadow: 0 0 10px #787878;
  }

  #expenses-items-container,
  #expenses-items-inner-container {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
  }

  .expense-item {
    margin-top: 30px;
    padding: 0;
  }

  app-expense-details.card {
    margin: 0 auto;
    padding: 0;
  }

  #expense-items-navbar {
    margin-bottom: 30px;
  }

  .category-row-item {
    position: relative;
  }

  .whitespace {
    left: 20px;
    width: calc(100% - 40px);
  }

}

/* COMPAREMODE SWITCH */

.switch {
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--pink);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--pink);
}

input:checked+.slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

#switch-left {
  margin-right: 10px;
}

#switch-right {
  margin-left: 10px;
}